:root {
  /* Color Palette */
  --color-bg: #303030;
  --color-panel: #242424;
  --color-panel-hover: #2e2e2e;
  --color-panel-drop: #1a1a1a;
  --color-hover: #999999;
  --color-border: #777777;
  --color-border-highlight: #FFD700;

  /* Text */
  --color-text: #ffffff;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  /* Font Sizes */
  --font-sm: 1rem;
  --font-md: 1.5rem;
  --font-lg: 2rem;

  /* spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* rounding of elements */
  --radius-sm: 0.2rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;

  /* Layout Dimensions */
  --navbar-height: clamp(3rem, 6vh, 4rem);
  --sidebar-width: clamp(5rem, 13vw, 15rem);

  /** Puzzle Dimensions */
  --puzzle-piece-size: 7rem;

  /* Buttons */
    --green-500: #22c55e;
    --green-700: #15803d;
    --red-500: #ef4444;
    --red-700: #b91c1c;
}
