.type-column {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: var(--puzzle-piece-size);
}

.type-column:not(:first-child) {
    margin-left: calc(var(--puzzle-piece-size) * -0.2);
}

.type-column {
    --i: 0;
    z-index: calc(100 + var(--i, 0));
}

.type-column-pieces {
    display: flex;
    flex-direction: column;
    position: relative;
}

.type-column-pieces > *:not(:first-child) {
    margin-top: calc(var(--puzzle-piece-size) * -0.2);
}